# Sensitive directories - ignore contents but keep .gitkeep
claude-auth/*
!claude-auth/.gitkeep

home-config/*
!home-config/.gitkeep


workspace/*
!workspace/.gitkeep

mcp-servers/*
!mcp-servers/.gitkeep

# Environment variables
.env
